.section {
  .section-title-container {
    background-color: $color-enhanced;
    color: $color-main;
  }
  .section-content {
    padding: 90px 0;
  }
  &.prog {
    .collapser {
      margin: 40px 0;
      .collapser-title {
        margin: 0 0 40px;
        span {
          font-size: 36px;
        }
      }
      .collapser-row {
        margin: 18px 0;
      }
    }
  }
  &.expo {
    .section-content {
      padding: 0;
      .container-fluid {
        padding: 0;
        margin: 0;
      }
      h3,
      h4 {
        margin-bottom: 18px;
      }

      img {
        transform: translateY(-26px);
      }

      .section-content-container-left {
        padding: 100px 0;
        background-color: $color-enhanced;
        color: $color-main;
        .col-7 {
          padding: 0 200px 0 0;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
        }
        .button {
          border-color: $color-main;
          background-color: $color-enhanced;
          align-self: flex-end;
          &:hover {
            background-color: $color-main;
            color: $color-enhanced;
          }
        }
        img {
          filter: drop-shadow(0 35px 0 $color-second);
        }
      }
      .section-content-container-right {
        padding: 100px 0;
        .col-7 {
          padding: 0 0 0 200px;
        }
        .button {
          &:hover {
            background-color: $color-second;
            color: $color-main;
            border-color: $color-second;
          }
        }
        img {
          filter: drop-shadow(0 35px 0 $color-enhanced);
        }
      }
    }
  }
  &.info {
    .section-title-container {
      background-color: $color-second;
      color: $color-main;
    }
    .disclaimer {
      text-align: center;
      margin: 40px 0 0;
    }
    .banner-rail {
      .banner-roller {
        animation: banner-roll 0 linear;
        .col-12 {
          display: flex;
          justify-content: space-between;
        }
        span {
          font-family: $font-text;
          font-size: 21px;
        }
      }
    }
    .others {
      background-color: $color-second;
      color: $color-main;
      .col-6 {
        margin: 90px 0;
        h3 {
          margin-bottom: 30px;
        }
        a {
          text-decoration: none;
          &.borderless-button:hover {
            color: $color-enhanced;
          }
          &.button:hover {
            background-color: $color-main;
            color: $color-second;
          }
        }
      }
    }
  }
  .button {
    border: solid 2px;
    border-radius: 40px;
    padding: 25px 35px;
    font-family: $font-title;
    transition: 0.1s;
    text-decoration: none;
    margin: 30px 0;
    display: inline-block;
    text-transform: uppercase;
  }
}
