.welcome {
  background-color: $color-main;
  height: 100vh;
  overflow: hidden;
  .cube-container {
    position: relative;
    height: 100%;
    width: 100%;

    svg {
      position: absolute;
      top: 0;
      left: 0;
      [class^="path-"] {
        stroke: $color-enhanced;
      }
    }

    // set the corners of the canva
    [class^="start-"] {
      width: 1px;
      height: 1px;
      position: absolute;
    }
    .start-top-left,
    .start-top-right {
      top: 0;
    }
    .start-bottom-left,
    .start-bottom-right {
      bottom: 0;
    }
    .start-top-left,
    .start-bottom-left {
      left: 0;
    }
    .start-top-right,
    .start-bottom-right {
      right: 0;
    }

    // create the cube
    .cube-face {
      position: absolute;
      transform-origin: center;
    }
    .cube-face--back {
      border: solid 2px $color-enhanced;
      width: 50%;
      height: 50%;
      transform: translate(-150%, -180%);

      // set the corner inside the moving square
      [class^="end-"] {
        width: 1px;
        height: 1px;
        position: absolute;
      }
      .end-top-left,
      .end-top-right {
        top: 0;
      }
      .end-bottom-left,
      .end-bottom-right {
        bottom: 0;
      }
      .end-top-left,
      .end-bottom-left {
        left: 0;
      }
      .end-top-right,
      .end-bottom-right {
        right: 0;
      }
    }

    // create the front face of the cube ( the text or logo )
    .cube-face--front {
      margin: auto;
      width: 80%;
      z-index: 10;
      transform: translate(-20%, -10%);
      img {
        width: 100%;
      }
    }
  }
  .min-card-call {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform-origin: center;
    transform: translateX(-50%);
    color: $color-second;
    font-family: $font-text;
    text-align: center;
    user-select: none;
    a {
      display: block;
      width: fit-content;
      margin: auto;
    }
  }
}
