@font-face {
  font-family: "Teletactile", serif;
  src: url(../fonts/teletactile.woff2);
}
@font-face {
  font-family: "Stretch Pro", sans-serif;
  src: url(../fonts/stretch-pro.woff2);
}

$color-main: #001019;
$color-second: #fbfaf5;
$color-enhanced: #eaff01;
$color-enhanced: #663de4;
$font-title: "Stretch Pro", sans-serif;
$font-text: "Teletactile", serif;

@import "base";
@import "layout";
@import "modules/banner";
@import "modules/header";
@import "modules/welcome-cube";
@import "modules/cursor";
@import "modules/section";
@import "modules/intro";
@import "bootstrap/scss/bootstrap-grid";
